body {
  font-family: sans-serif;
  background: #f9fafb;
  padding: 20px;
}

.container {
  display: flex;
  gap: 20px;
}

#schedule div {
  padding: 6px;
  cursor: pointer;
}

.completed {
  color: #16A34A;
}

#current {
  border: 1px solid #ccc;
  padding: 15px;
  width: 300px;
}
